﻿
@{
    ViewData["Title"] = "Home Page";
}
@model DesafioVulcao.Models.InfoInicial

@{
    IEnumerable<RelatorioFumaca> ListaRelatorioFumaca = ViewData["ListaRelatorioFumaca"] as IEnumerable<RelatorioFumaca>;
}
<div class="container-fluid bg-warning">
    @using (Html.BeginForm("IniciarCalculo", "Grafico", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-pull-12">
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.QtdAeroporto, "Quantidade Aeroportos")
                    @Html.TextBoxFor(m => m.QtdAeroporto, new { @class = "form-control", htmlAttributes = new { min = 0, max = 20 } })
                    @Html.ValidationMessageFor(m => m.QtdAeroporto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.QtdFumaca, "Quantidade Fumaças")
                    @Html.TextBoxFor(m => m.QtdFumaca, new { @class = "form-control", htmlAttributes = new { min = 0, max = 20 } })
                    @Html.ValidationMessageFor(m => m.QtdFumaca, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.TamanhoX, "Tamanho X")
                    @Html.TextBoxFor(m => m.TamanhoX, new { @class = "form-control", htmlAttributes = new { min = 0, max = 20 } })
                    @Html.ValidationMessageFor(m => m.TamanhoX, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.TamanhoY, "Tamanho Y")
                    @Html.TextBoxFor(m => m.TamanhoY, new { @class = "form-control", htmlAttributes = new { min = 0, max = 18 } })
                    @Html.ValidationMessageFor(m => m.TamanhoY, "", new { @class = "text-danger" })
                </div>
                <input type="submit" />
            </div>
        </div>
        <div>


        </div>
    }
</div>
@{ 
    var primeiroAeroporto =   ListaRelatorioFumaca.Where(T => T.primeiroAeroporto != null).FirstOrDefault();
    var diaprimeiroAeroporto = "";
    if (primeiroAeroporto != null)
    {
        diaprimeiroAeroporto = "Dias até o primeiro aeroporto ser afetado: " + (primeiroAeroporto.dia + 1).ToString();
   
    var quantidadeTotal = "Quantidade total para todos aeroportos afetados: " + ListaRelatorioFumaca.Count().ToString();
    <div class="row">

        <h4>@diaprimeiroAeroporto</h4>
        <h4>@quantidadeTotal</h4>
    </div>
    }
}

@foreach (RelatorioFumaca relatorioFumaca in ListaRelatorioFumaca)
{
       
   
    var idDiaDiv = "id_" + relatorioFumaca.dia;
    var diaTexto = "Dia " + relatorioFumaca.dia;
    var tamanhoAltura = (Model.TamanhoY * 25 + 40).ToString() + "px";
    var tamanhoLargura = (Model.TamanhoX * 50 + 50).ToString() + "px";
  
  

    <div>

        <h2>@diaTexto </h2>

    </div>
    <div class="row" style="visibility:visible; width: @tamanhoLargura; height: @tamanhoAltura;">

        @foreach (InfoFumaca item in relatorioFumaca.listaInfoFumaca)
        {
            var posicaoY = "0";
            var nomeImagem = item.posicaoX.ToString() + "_" + item.posicaoY.ToString();

            var mensagemToolTip = "Posição X: " + item.posicaoX.ToString() + "\nPosição Y: " + item.posicaoY.ToString();
            if (item.PossuiaAeroporto)
            {
                mensagemToolTip = mensagemToolTip + "\nLocal com Aeroporto";
            }
            var posicaoX = (item.posicaoX * 50).ToString() + "px";
            if (item.posicaoX > 1)
            {
                var valorFinal = ((item.posicaoX - 1) * (Model.TamanhoY * 25)) - 25;

                posicaoY = "-" + valorFinal + "px";
            }
            else
            {
                posicaoY = "25px";
            }
            if (item.Aeroporto == true)
            {
                <div style="position: relative;left:@posicaoX;top:@posicaoY; width:50px;height:25px;">
                    <img title="@mensagemToolTip" name="@nomeImagem" src="~/images/aeroporto.png" alt="" />

                </div>
            }
            else if (item.PossuiaAeroporto == true)
            {
                <div style="position: relative;left:@posicaoX;top:@posicaoY; width:50px;height:25px;">
                    <img title="@mensagemToolTip" name="@nomeImagem" src="~/images/PossuiaAeroporto.png" alt="" />

                </div>
            }
            else if (item.TemFumaca == true)
            {
                <div style="position: relative;left:@posicaoX;top:@posicaoY; width:50px;height:25px;">
                    <img title="@mensagemToolTip" name="@nomeImagem" src="~/images/Fumaca.png" alt="" />

                </div>
            }
            else
            {
                <div style="position: relative;left:@posicaoX;top:@posicaoY; width:50px;height:25px;">
                    <img title="@mensagemToolTip" name="@nomeImagem" src="~/images/Grama.jpg" alt="" />

                </div>
            }
        }
    </div>

        }

   
